#areaFundo {
    position: fixed;
    background: #777f8b79;
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
    justify-content: center;
    place-items: center;
}

#areaFundo #infoContent {
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#areaFundo #infoContent .botao-card {
    text-align: right;
}
#areaFundo #infoContent .botao-card button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    outline: none;
    border: none;
    background: #e42c2c;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    animation: .3s ease-out;
}
#areaFundo #infoContent .botao-card button:hover {
    background: #e75d5d;
    transform: scale(1.03);
}
#areaFundo #infoContent h3 {
    color: #2542a3;
    font-size: 27px;
    display: inline;
    border: solid 1px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1.5px 4px 13px #2542a3;
    border-left: none;
    border-top: none;
}
#areaFundo #infoContent p {
    font-size: 18px;
    padding: 0 30px;
}