@media (min-width: 320px) and (max-width: 540px) {
    body {
        margin: 0;
        background-image: url(/IMG/IMG-20250622-WA0002.jpg);
        background-repeat: no-repeat;
        background-size: 150vh;
        background-position-y: -100px;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: #fff;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        padding: 10px;
        box-shadow: -1px 7px 30px #6d686870;
        z-index: 100;
    }

    header img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 10px 0 0 4px;
    }
    header h1 {
        font-family: verdana;
        color: #0845c9;
        cursor: default;
        font-size: 28px;
        padding-right: 0;
    }

    header button {
        cursor: pointer;
        width: 25px;
        height: 30px;
        padding: 0;
        font-size: 22px;
        margin: 20px 10px 0 0;
        color: #3665fd;
        background: transparent;
        outline: none;
        border: none;
        display: inline-block;
    }
    .menu {
        position: fixed;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 25px;
        width: auto;
        height: 0;
        background: #031130e7;
        backdrop-filter: blur(5px);
        box-shadow: -5px 5px 50px #073caf86;
        border-radius: 0 0 0 15px;
        transition: .3s ease-in-out;
        overflow: hidden;
        z-index: 1000;
    }
    .menu.aberto {
        height: 270px;
    }
    .menu button {
        font-size: 20px;
        width: 23px;
        transform: translateX(50px);
        background: transparent;
        color: #fff;
        border: none;
        outline: none;
        transition: .3s ease-in;
        border-radius: 10px;
        cursor: pointer;
        display: inline-block;
    }
    .menu button:hover {
        box-shadow: -1px -1px 30px #db03038a;
    }
    .menu a {
        text-decoration: none;
        color: #fff;
        font-family: verdana;
        font-size: 13px;
    }
    .menu a:nth-child(2) {
        margin-top: 20px;
    }
    .menu a:nth-child(7) {
        margin-bottom: 27px;
    }

    main .titulo {
        font-family: arial;
        cursor: pointer;
        color: #fff;
        font-size: 20px;
        position: absolute;
        transform: translate(20px, -200px);
        text-shadow: -1px -1px 10px #0845c9;
    }
    main .slogan {
        cursor: pointer;
        color: #042e92;
        position: absolute;
        font-size: 14px;
        transform: translate(10px, -170px);
        text-shadow: -1px -1px 10px #304ca0a2;
        font-family: calibri;
    }
    main #prefacio {
        cursor: default;
        background: #fff;
        padding: 40px 50px 100px 0;
        box-shadow: 0 -90px 50px #00000070;
        display: flex;
        flex-direction: column;
    }
    main #prefacio img {
        width: 300px;
        height: 200px;
        margin: 0 10px;
        border-radius: 10px;
        box-shadow: 3px 5px 40px #073caf86;
    }
    main #prefacio div {
        max-width: 300px;
        font-family: verdana;
        font-size: 13px;
        margin-left: 10px;
    }

    main #sobre {
        cursor: default;
        background: #fff;
        padding: 50px 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    main #sobre img {
        width: 300px;
        height: 200px;
        margin: 0 10px;
        border-radius: 10px;
        box-shadow: 3px 5px 40px #073caf86;
    }
    main #sobre div {
        width: auto;
        margin: 10px;
        font-family: verdana;
        font-size: 13px;
    }

    main #servicos .container {
        display: flex;
        flex-wrap: wrap;
        margin: 50px 0 0 0;
        padding: 0 2px;
    }
    main #servicos .container .card {
        flex-basis: 300px;
        flex-grow: 1;
        margin: 10px;
        padding: 50px 0;
        background: #0845c9c4;
        border-radius: 15px;
        color: #fff;
        box-shadow: 1px 1px 20px #4471eeb6;
        font-size: 13px;
        padding: 30px;
        transition: .3s ease-in-out;
    }

    main #contactos {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        margin: 0 0 30px 0;
    }
    main #contactos div {
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
    }
    main #contactos div a {
        margin: 15px 0;
        padding: 5px 20px;
        border-radius: 15px;
        box-shadow: 1px 1px 30px #073caf86;
        color: #fff;
        font-family: verdana;
        background: #0845c9;
        height: 50px;
        width: 260px;
        font-size: 13px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: .3s ease-in;
    }

    main #contactos form p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 14px;
        color: #1b9410;
    }

    main #contactos form #nome:focus~.nome, main #contactos form #nome:valid~.nome {
        font-size: 10px;
        color: #2c6926;
        transform: translate(15px, 46px);
    }
    main #contactos form #email:focus~.email, main #contactos form #email:valid~.email {
        font-size: 10px;
        color: #2c6926;
        transform: translate(15px, 126px);
    }
    main #contactos form label:nth-child(3) {
        transform: translate(15px, 67px);
    }
    main #contactos form label:nth-child(6) {
        transform: translate(15px, 147px);
    }
    
    footer .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px 0 0 0;
        font-size: 12px;
        font-family: calibri;
    }
    footer .container img {
        width: 70px;
        height: 70px;
        border-radius: 45px;
    }

    footer h4 {
        font-family: arial;
        font-size: 11px;
        margin: 5em 0 0 0;
        cursor: default;
    }
    footer h5 {
        font-family: arial;
        font-size: 10px;
        margin-bottom: 0;
        cursor: pointer;
    }
}
